* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 2000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 7%;
  background-color: #513c28;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
}

.navbar .navbar-logo {
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}

.navbar .navbar-logo span {
  color: #b6895b;
}

.navbar .navbar-nav a {
  color: white;
  margin: 0 1rem;
  display: inline-block;
  font-size: 1.1rem;
  transition: 0.8s;
}

.navbar .navbar-nav a:hover {
  color: #7a6149;
}

.navbar .navbar-extra {
  display: none;
}

.navbar .navbar-extra a {
  color: white;
}

/* section hero */
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  background-color: #f9e0bb;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2rem;
}

.hero .content h1 span {
  color: #b6895b;
}

.hero .content p {
  color: #513c28;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero .content .btn-hero {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  background-color: #b6895b;
  padding: 10px;
  border-radius: 0.3rem;
  transition: 0.8s;
}

.hero .content .btn-hero:hover {
  opacity: 0.5;
}

/* Section Tentang Kami  */
.aboutus {
  padding: 8rem 7% 1.4rem;
  text-align: center;
}

.aboutus h2 {
  margin-bottom: 1rem;
}

.aboutus h2 span {
  color: #b6895b;
}

.aboutus p {
  color: grey;
  font-size: 1rem;
  margin-bottom: 5rem;
}

.aboutus .row {
  display: inline-block;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 1rem;
  max-width: 310px;
  min-width: 250px;
  width: 100%;
  margin: 15px 30px 10px;
}

.aboutus .row img {
  height: 6rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
/* section Produk */
.product {
  padding: 8rem 7% 1.4rem;
  text-align: center;
}

.product h2 {
  margin-bottom: 1rem;
}

.product h2 span {
  color: #b6895b;
}

.product p {
  color: grey;
  font-size: 1.1rem;
  margin-bottom: 5rem;
}

.product .row {
  display: inline-block;
  margin-top: 1rem;
  justify-content: center;
}

.product .row h3 {
  font-weight: 600;
}

.product .row .menu-card {
  color: white;
  text-align: center;
  padding-bottom: 30px;
  margin: 20px;
  border: 1px solid #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  transition: transform 0.3s;
  cursor: pointer;
}

.product .row .menu-card .logo {
  margin-top: 30px;
  border-radius: 1rem;
  margin-bottom: 2rem;
  width: 50%;
}

.product .row .menu-card-title {
  color: #000;
  margin-bottom: 1rem;
}
/* section produk bagian bintang */
.product .row .menu-card .fill-star {
  color: gold;
}

.product .row .menu-card .fill-star-full {
  color: gold;
  fill: gold;
}

.product .row .menu-card .menu-card-price {
  color: #f36f54;
  font-weight: 600;
  margin-top: 1rem;
}

.product .row .menu-card .button a .icons {
  background-color: #fcab92;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  transition: 0.5s;
}

.product .row .menu-card .button a .icons-unavailable {
  background-color: #fcab92;
  opacity: 0.5;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  transition: 0.5s;
}

.product .row .menu-card .button a .icons:hover {
  opacity: 0.5;
}
/* Section Produk Show More */
.product .show-morebtn {
  margin-top: 5rem;
}

.button-23 {
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  color: grey;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
/* section footer */

footer {
  background-color: #513c28;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  color: #fff;
}

footer .credit a {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

footer .credit a span {
  color: #b6895b;
}
/* PC */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* Tablet */
@media (max-width: 794px) {
  * {
    outline: none;
  }

  html {
    font-size: 75%;
  }

  .navbar .navbar-extra {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #b6895b;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0%;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.8rem;
  }
}

/* Hp */
@media (max-width: 459px) {
  * {
    outline: none;
  }

  html {
    font-size: 70%;
  }

  .aboutus .row {
    max-width: 210px;
    min-width: 150px;
    width: 80%;
  }
}
